//imports
@import "kouto-swiss"
@import 'jeet'
@import 'rupture'

//fonts
font-face("helvetica-lt", "../fonts/helvetica-neue-lt-std")
font-face("helvetica-bd", "../fonts/helvetica-neue-lt-std-bold")

//vars
$red-text 		= #ed1d24
$dark-blue-text = #0092c8
$blue-bg 		= #e6f7ff

//stylus
html, body
	background-color $blue-bg
	margin 0
	padding 0
#sec-title
	.text-content
		font-family helvetica-lt, arial, sans-serif
		text-transform uppercase
		text-align center
		margin em(40px) 0 0
		color #1f1f1f
		position relative
		z-index 15
		&--p1 
			font-size em(14px)
			line-height em(16px)
			margin 0
			padding 0
			+above(739px)
				font-size em(23px)
		&--date 
			font-size em(25px)
			letter-spacing em(1px)
			margin em(30px) 0 0
			position relative
			+above(739px)
				font-size em(40px)
				margin em(15px) 0 0
			&:before
				content ''
				position absolute
				left 50%
				transform translateX(-50%)
				top em(-15px)
				height em(2px)
				width em(12px)
				background-color $red-text
				+above(739px)
					top em(-7px)
		&--logo-svg
			width em(300px)
			margin-top em(10px)
			+above(739px)
				width em(525px)
		&--tie
			margin em(20px) auto 0
			background url('../img/partials/tie.png') center no-repeat
			background-size contain
			width em(300px)
			min-height em(80px)
			display block
			+above(739px)
				width em(500px)
				height em(150px)	
			&-ttl
				padding em(10px) 0 0
				color $red-text
				font-family helvetica-bd
				font-size em(16px)
				margin 0
				+above(739px)
					font-size 25px
			&-btn 
				display inline-block
				text-decoration none
				border none
				background-color $red-text
				color #fff
				text-transform uppercase
				font-family helvetica-lt
				letter-spacing em(1px)
				font-size em(14px)
				padding em(7px) em(20px)
				margin em(5px) 0 0
				+above(739px)
					font-size 20px
					padding em(10px) em(25px)
#sec-svg
	width 100vw
	overflow hidden
	position absolute
	bottom 0
	.villa-svg
		width 1200px
		height auto
		position relative
		left 50%
		transform translateX(-50%)
		bottom em(-15px)
		+above(1200px)
			width 110%
		+below(350px)
			width 1000px
	@media screen and (-webkit-min-device-pixel-ratio:0)		
		#snow-box
			width 100vw
			position absolute
			top 0 
			bottom 0
			z-index 10
			background-image url('../img/partials/snow-01.png'), url('../img/partials/snow-02.png'), url('../img/partials/snow-03.png')
			animation snow-down 5s linear infinite	
@media screen and (-webkit-min-device-pixel-ratio:0)			
	#treno 
		animation treno-ride 10s infinite linear
	#teleferico-01
		animation telef-balance 3s infinite alternate linear
		transform-origin center top
	#teleferico-02
		animation telef-balance 2s infinite alternate linear
		transform-origin center top
	#arvores-01 g
	#arvores-02 g
		animation tree-wind 2s infinite alternate linear
		transform-origin center bottom	
	@keyframes treno-ride
		from
			transform translateX(-570%)
		to
			transform translateX(800%)		
	@keyframes telef-balance
		from
			transform rotateZ(8deg)
		to
			transform rotateZ(-8deg)
	@keyframes tree-wind
		from
			transform rotateZ(0deg)
		to
			transform rotateZ(-8deg)
	@keyframes snow-down
		0%
			background-position 0 0, 0 0, 0 0
		50%
			background-position -500px 500px, 100px 200px, -100px 150px
		100%
			background-position -500px 1000px, 200px 400px, -100px 300px
